.createTask
    display: flex
    flex-direction: column
    width: 500px
    background-color: #cbc8c4
    border-radius: 10px
    padding: 0 5px
    padding-bottom: 5px
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.5)
    .createTask-header
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 20px
        .createTask-create
            background-color: #55ef88
        .createTask-cancel
            background-color: #f39274
        .createTask-buttons
            display: flex
            gap: 5px
    .input
        height: 30px
        outline: none
        border-radius: 5px
