.header
    display: flex
    background-color: #F5F5F5
    align-items: center
    justify-content: space-between
    gap: 10px
    border-bottom: 1px solid black
    min-height: 50px
    padding: 5px 10px
    .header-projectName
        font-size: 20px
        font-weight: 500
        line-height: 18px
        margin: 5px 0
        text-align: right
    .header-appName
        width: 100%
        font-weight: bold
        font-size: 20px
